<html>
  <head>
      <link rel="shortcut icon" href="">
    <title>Flapper News</title>
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>

    <script src="/javascripts/angularApp.js"></script>
    <style>.glyphicon-thumbs-up {cursor:pointer}</style>
  </head>
  <body ng-app="flapperNews" ng-controller="MainCtrl">
  <div class='row'>
    <div class='col-md-6 col-md-offset-3'>
        <ui-view></ui-view>
        <span>

</span>
    </div>
  </div>
      <script type='text/ng-template' id='/home.html'>
<div class='page-header'>
  <h1>Flapper News</h1>
</div>
<div ng-repeat="post in posts | orderBy: '-upvotes'">
  <span class='glyphicon glyphicon-thumbs-up' ng-click="incrementUpvotes(post)"></span> {{post.upvotes}}
  <span ng-show="post.title">
                       {{post.title}}
                   </span>
  <span style='font-size:20px; margin-left:10px;'>
                   <a ng-show="post.link"
                      href="{{post.link}}">
                   {{post.title}}
                   </a>
               </span>
  <a href="#/posts/{{post._id}}">Comments</a>
</div>
<form ng-submit="addPost()" style='margin-top:30px;'>
  <h3>Add a new post</h3>

  <div class='form-group'>
    <input type="text" class='form-control' placeholder="Title" ng-model="title">
    <br>
  </div>
  <div class='form-group'>
    <input type="text" class='form-control' placeholder="Link" ng-model="link">
    <br>
  </div>
  <button type="submit" class='btn btn-primary'>Post it!</button>
</form>
      </script>


      <script type='text/ng-template' id='/posts.html'>
          <div class="page-header">
            <h3>
              <a ng-show="post.link" href="{{post.link}}">
              </a>
              <span ng-hide="post.link">
                  {{post.title}}
              </span>
            </h3>
          </div>

            <div ng-repeat="comment in post.comments | orderBy: '-upvotes'">
              <span class="glyphicon glyphicon-thumbs-up"
                  ng-click="incrementUpvotes(comment)"></span>
                      {{comment.upvotes}} - by {{comment.author}}
              <span style="font-size:20px; margin-left:10px;">
                  {{comment.body}}
              </span>
            </div>

    	<form ng-submit="addComment()" style="margin-top:30px;">
    		<h3>Add a new comment</h3>
    		<div class="form-group">
      			<input type="text" class="form-control" placeholder="Comment"  ng-model="body"/>
    		</div>
    		<button type="submit" class="btn btn-primary">Post</button>
  		</form>
    </script>
  </body>
</html>
